# Ignore everything
/*

# Except these files & folders
!.eslintrc.cjs
!.gitignore
!.markdownlint.json
!.prettierrc.mjs
!.prettierignore
!/.github
!LICENSE
!README.md
!astro.config.ts
!package.json
!pnpm-workspace.yaml
!src
!tailwind.config.mjs
!tsconfig.json
!eslintignore
