/* Body */
body:before {
  content: "";
  display: block;
  background-image: url("/images/noise.webp");
  /* background-image: url('/images/grain.svg'); */
  opacity: 0.5;
  background-repeat: repeat;
  background-position: center;
  background-size: 257px auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 99999998;
}
/* Fonts */
@font-face {
  font-family: "Playfair";
  src: url("/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("ttf");
  font-weight: 100 900;
  font-stretch: 25% 150%;
  display: swap;
}
@font-face {
  font-family: "Gabarito";
  src: url("/fonts/Gabarito-VariableFont_wght.ttf") format("ttf");
  font-weight: 100 900;
  font-stretch: 25% 150%;
  display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-VariableFont_wght.ttf") format("ttf");
  font-weight: 100 900;
  font-stretch: 25% 150%;
  display: swap;
}
@font-face {
  font-family: "SpaceMono";
  src: url("/fonts/SpaceMono-Regular.ttf") format("ttf");
  font-weight: 400;
  display: swap;
}
