@tailwind base; /* This injects base styles, like normalize.css, into the document. */
@tailwind components; /* This injects component classes, like button and input, into the document. */
@tailwind utilities; /* This injects utility classes, like .bg-red-500 and .rounded, into the document. */

@layer base {
  html {
    /* playfair-display-regular - latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: 400;
      src: url('/fonts/playfair-display-v36-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      unicode-range: U+0000-00FF U+2000-206F;
    }
    /* playfair-display-italic - latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Playfair Display';
      font-style: italic;
      font-weight: 400;
      src: url('/fonts/playfair-display-v36-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      unicode-range: U+0000-00FF U+2000-206F;
    }
    /* playfair-display-600 - latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: 600;
      src: url('/fonts/playfair-display-v36-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      unicode-range: U+0000-00FF U+2000-206F;
    }
    /* playfair-display-700 - latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: 700;
      src: url('/fonts/playfair-display-v36-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      unicode-range: U+0000-00FF U+2000-206F;
    }
    /* playfair-display-800 - latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: 800;
      src: url('/fonts/playfair-display-v36-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      unicode-range: U+0000-00FF U+2000-206F;
    }
    /* figtree-regular - latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Figtree';
      font-style: normal;
      font-weight: 400;
      src: url('/fonts/figtree-v5-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      unicode-range: U+0000-00FF U+2000-206F;
    }
    /* figtree-italic - latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Figtree';
      font-style: italic;
      font-weight: 400;
      src: url('/fonts/figtree-v5-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      unicode-range: U+0000-00FF U+2000-206F;
    }
    /* figtree-600 - latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Figtree';
      font-style: normal;
      font-weight: 600;
      src: url('/fonts/figtree-v5-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      unicode-range: U+0000-00FF U+2000-206F;
    }
    /* jetbrains-mono-regular - latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'JetBrains Mono';
      font-style: normal;
      font-weight: 400;
      src: url('/fonts/jetbrains-mono-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
  }

  body:before {
    content: '';
    display: block;
    background-image: url('/images/noise.webp');
    /* background-image: url('/images/grain.svg'); */
    opacity: 0.3;
    background-repeat: repeat;
    background-position: center;
    background-size: 257px auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 99999998;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4;
  }

  .container-fluid {
    @apply container;
  }
}
