---
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout>
  <section class="my-12">
    <div class="container">
      <div class="space-y-2">
        <h1 class="text-center font-display text-3xl font-bold text-primary">Contact Form</h1>
        <p class="text-center font-body text-lg text-white">
          Fill out the details below and hit send! 🚀
        </p>
        <form action="" method="post" onsubmit="event.preventDefault()" class="container">
          <div class="space-y-1">
            <label for="name" class="text-md block font-body font-semibold">Name</label>
            <input
              class="block w-full rounded-md border-2 border-primary p-2 focus:border-primary-content focus-visible:border-primary-content disabled:border-l-neutral-600"
              type="text"
              name="name"
              id="name"
              placeholder="Your name"
              required
            />
            <div class="space-y-1">
              <label for="email" class="text-md block font-body font-semibold">Email</label>
              <input
                class="block w-full rounded-md border-2 border-primary p-2 focus:border-primary-content focus-visible:border-primary-content disabled:border-l-neutral-600"
                type="email"
                name="email"
                id="email"
                placeholder="Your email"
                required
              />
            </div>
            <div class="space-y-1">
              <label for="message" class="text-md block font-body font-semibold">Message</label>
              <textarea
                class="block w-full rounded-md border-2 border-primary p-2 focus:border-primary-content focus-visible:border-primary-content disabled:border-l-neutral-600"
                name="message"
                id="message"
                placeholder="Your message"
                required></textarea>
            </div>
            <div class="space-y-1">
              <button
                class="btn-square btn-primary rounded border-2 border-primary bg-primary"
                type="submit"
                >Send
              </button>
            </div>
          </div>
        </form>
      </div>

      <div></div>
    </div>
  </section>
</MainLayout>
