---
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout>
  <section class="my-12">
    <div class="container flex">
      <div class="flex-1 space-y-2">
        <h1 class="text-center font-display text-3xl font-bold text-primary">
          Contact Form
        </h1>
        <p class="text-center font-body text-lg">
          Fill out the details below and hit send! 🚀
        </p>
        <form action="" method="post">
          <div class="space-y-1">
            <label for="name" class="text-md block font-body font-semibold">
              Name
            </label>
            <input
              class="block w-full rounded-md border-2 border-primary-content p-2 caret-primary-content outline-none placeholder:text-primary-content/30 focus:border-primary focus:ring-4 focus:ring-primary/30 focus-visible:border-primary disabled:pointer-events-none disabled:border-neutral-800 disabled:bg-neutral-800/50"
              type="text"
              name="name"
              id="name"
              placeholder="Your name"
              required
            />
            <div class="space-y-1">
              <label for="email" class="text-md block font-body font-semibold">
                Email
              </label>
              <input
                class="block w-full rounded-md border-2 border-primary-content p-2 caret-primary-content outline-none placeholder:text-primary-content/30 invalid:border-accent focus:border-primary focus:ring-4 focus:ring-primary/30 focus-visible:border-primary disabled:cursor-not-allowed disabled:border-neutral-800 disabled:bg-neutral-800/50"
                type="email"
                name="email"
                id="email"
                placeholder="Your email"
                required
              />
            </div>
            <div class="space-y-1">
              <label
                for="message"
                class="text-md block font-body font-semibold">
                Message
              </label>
              <textarea
                class="block w-full rounded-md border-2 border-primary-content p-2 caret-primary-content outline-none placeholder:text-primary-content/30 focus:border-primary focus:ring-4 focus:ring-primary/30 focus-visible:border-primary disabled:pointer-events-none disabled:border-neutral-800 disabled:bg-neutral-800/50"
                name="message"
                id="message"
                placeholder="Your message"
                required>
              </textarea>
            </div>
            <div class="space-y-1">
              <button
                class="btn-square btn-primary rounded border-2 border-primary bg-primary"
                type="submit">
                Send
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="container flex-1">
        <p class="font-body text-lg">
          This is a placeholder for the second column.
        </p>
      </div>
    </div>
  </section>
</MainLayout>
