---
import MainLayout from '@layouts/MainLayout.astro';
import '@styles/pageclip.css';
---

<pageclip client:only></pageclip>
<MainLayout>
  <section class="container mx-auto flex gap-4 px-4 py-12 font-body">
    <div class="container mx-auto flex-1 space-y-8">
      <h1 class="text-center font-display text-4xl font-bold">Contact Form</h1>
      <p class="text-center text-lg">
        Have a question or inquiry? Fill out the form below hit send! 🚀 & I will get back to you as
        soon as possible.
      </p>
    </div>

    <div class="container mx-auto flex-1 space-y-8 px-12">
      <form
        action="https://send.pageclip.co/6N14uX3PyM17F0uIMBMdd1zA1nxVoe6p/contact-me"
        class="pageclip-form space-y-4"
        method="post">
        <div class="-mx-2 flex flex-wrap">
          <div class="w-full px-2 md:w-1/2">
            <span class="namet">What is your name?</span>
            <input
              type="text"
              name="name"
              id="name"
              min="3"
              max="30"
              required
              placeholder="Han Solo"
              class="input input-bordered input-primary w-full max-w-xs"
            />
          </div>
          <div class="w-full px-2 md:w-1/2">
            <label for="subject" class="text-md">Subject</label>
            <input
              type="text"
              name="subject"
              id="subject"
              min="5"
              max="30"
              required
              placeholder="I have a project for you!"
              class="input input-bordered input-primary w-full max-w-xs"
            />
          </div>
        </div>
        <div class="-mx-2 flex flex-wrap">
          <div class="w-full px-2 md:w-1/2">
            <label for="email" class="text-md">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              required
              placeholder="hansolo@mail.com"
              class="input input-bordered input-primary w-full max-w-xs"
            />
          </div>
          <div class="w-full px-2 md:w-1/2">
            <label for="phone" class="text-md">Phone</label>
            <input
              type="tel"
              name="phone"
              id="phone"
              min="10"
              max="12"
              required
              pattern="[0-9]{10,12}"
              placeholder="+91 9988 776 655"
              class="input input-bordered input-primary w-full max-w-xs"
            />
          </div>
        </div>
        <div class="w-full">
          <label for="message" class="text-md">Message</label>
          <textarea
            name="message"
            id="message"
            rows="5"
            minlength="10"
            maxlength="500"
            required
            class="textarea textarea-primary w-full"
            placeholder="Something you want me to know!">
          </textarea>
        </div>
        <button type="submit" class="pageclip-form__submit btn btn-primary btn-active btn-block">
          <span>Send</span>
        </button>
      </form>
    </div>
  </section>
</MainLayout>
