---
import { SITE } from '@consts';
import { Picture } from 'astro:assets';
import Social from '@components/Social.astro';
import { Icon } from 'astro-icon/components';
import sahil from '@images/sahil-og.jpg';
---

<section class="hero py-8 text-base-content sm:space-y-6 lg:py-14">
  <div class="fade-in hero-content flex-col lg:flex-row">
    <figure>
      <Picture
        class="max-w-sm transform rounded rounded-t-3xl object-cover object-center shadow-2xl shadow-primary grayscale transition-all duration-700 hover:scale-x-[-1] hover:grayscale-0 sm:max-w-sm"
        src={sahil}
        formats={['avif', 'webp']}
        alt="Image of water smoke"
        loading="eager"
        quality={78}
        height={500}
      />
      <figcaption class="sr-only">Image of water smoke</figcaption>
    </figure>

    <div class="space-y-6 font-body font-semibold lg:ml-8">
      <p class="font-mono text-xl lowercase">Hello World,</p>
      <h1 class="font-display text-4xl font-bold italic lg:text-6xl">
        My name is <span
          class="hover:bg-primary hover:transition-all hover:delay-75 hover:duration-500 hover:ease-in-out"
          >Sahil</span
        >
        <button id="play-name">
          <Icon
            name="waveform"
            class="inline-block size-8 cursor-pointer hover:animate-spin hover:transition hover:delay-100 hover:duration-500 hover:ease-in-out"
            aria-label="Listen to my name"
            style="vertical-align: top;"
          />
        </button>
      </h1>
      <h2 class="font-display text-2xl font-medium sm:text-4xl">
        A multifaceted developer & designer
      </h2>

      <p class="text-xl leading-relaxed">
        I'm a professional freelancer and I craft unique brand identities, compelling websites, and
        innovative software solutions<span class="typing"></span>.
      </p>
      <!-- Social Links -->
      <Social />
      <a
        class="btn btn-primary btn-md font-display hover:scale-110 hover:shadow-2xl hover:shadow-primary hover:transition hover:delay-100 hover:duration-500 hover:ease-in-out active:scale-90"
        href={`mailto:${SITE.MAIL}?subject=Hello There!&amp;body=Hi Sahil, so I was looking at your blog and...`}
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Contact me"
        >Contact Me
      </a>
      <a
        class="btn btn-secondary btn-md ml-4 font-display hover:scale-110 hover:shadow-2xl hover:shadow-secondary hover:transition hover:delay-100 hover:duration-500 hover:ease-in-out active:scale-90"
        href="/resume/Sahil_Resume_W_2024.pdf"
        rel="noopener noreferrer"
        target="_blank"
        download
        aria-label="Download Resume"
        >Download Resume
      </a>
    </div>
  </div>
</section>
<script>
  const nameSound = new Audio('./audio/sahil-name.mp3');
  const playButton = document.getElementById('play-name') as HTMLElement | null;
  if (playButton) {
    playButton.addEventListener('click', function () {
      nameSound.play();
    });
  }
</script>
