---
import Social from '@components/Social.astro';
import { SITE } from '@consts';
import myImage from '@images/lucas-k-wQLAGv4_OYs-unsplash.jpg';
import { Picture } from 'astro:assets';
---

<style>
  .typing::after {
    content: '|';
    white-space: pre;
    animation: blink 1s infinite;
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<section class="hero min-h-screen sm:space-y-4">
  <div class="fade-in hero-content flex-col lg:flex-row">
    <figure>
      <Picture
        class="max-w-sm transform rounded rounded-t-3xl object-cover object-center shadow-2xl shadow-primary transition-all duration-700 hover:scale-110 hover:grayscale sm:max-w-sm"
        src={myImage}
        formats={['avif', 'webp']}
        alt="water smoke"
        loading="eager"
      />
      <figcaption class="sr-only">water smoke</figcaption>
    </figure>

    <div class="space-y-4 lg:ml-8">
      <p class="font-mono text-xl">Hello World,</p>
      <h1 class="font-display text-4xl font-medium lg:text-6xl lg:font-bold">
        My Name is Sahil <sup class="">🔉</sup>
      </h1>
      <h2 class="font-body text-2xl sm:text-4xl">A Multifaceted Developer & Designer</h2>

      <p class="font-body text-xl leading-relaxed">
        I'm a professional freelancer and I craft unique brand identities, compelling websites, and
        innovative software solutions<span class="typing"></span>.
      </p>
      <div class="flex justify-start">
        <Social />
      </div>
      <a class="btn btn-primary" href={`mailto:${SITE.MAIL}`} aria-label="Contact Me">Contact Me</a>
      <a class="btn btn-secondary ml-4" href="/resume/Sahil_Resume_W_2024.pdf" download
        >Download Resume</a
      >
    </div>
  </div>
</section>
