---
import { SITE } from '@consts';
import MainHead from '@components/head/MainHeader.astro';
import MainNav from '@components/MainNav.astro';
import MainFooter from '@components/MainFooter.astro';

const { TITLE, DESCRIPTION, IMAGE } = SITE;
---

<!doctype html>
<html lang="en">
  <head>
    <MainHead title={TITLE} description={DESCRIPTION} image={IMAGE} />
  </head>

  <body transition:animate="initial" class="grainy-overlay flex min-h-screen flex-col">
    <noscript>
      <p class="m-2 text-center font-medium italic text-primary">
        Please enable JavaScript for the best experience on this site.
      </p>
    </noscript>
    <MainNav title={TITLE} />
    <main class="flex-grow">
      <slot />
    </main>
    <MainFooter />
  </body>
</html>
