---
import { SITE_TITLE, SITE_DESCRIPTION, SITE_IMAGE } from '../consts'
import MainHead from '../components/MainHeader.astro'
import MainNav from '../components/MainNav.astro'
import PreFooter from '../components/MainPreFooter.astro'
import MainFooter from '../components/MainFooter.astro'
import MobileNav from '../components/MobileNav.astro'
import '../styles/global.css'
---

<!doctype html>
<html lang='en'>
	<head>
		<MainHead title={SITE_TITLE} description={SITE_DESCRIPTION} image={SITE_IMAGE} />
	</head>

	<body transition:animate="initial" class='flex flex-col min-h-screen grainy-overlay'>
		<noscript>
			<p class="text-center font-medium italic text-primary m-2">
				Please enable JavaScript for the best experience on this site.
			</p>
		</noscript>
		<MainNav title={SITE_TITLE} />

		<main class='flex-grow'>
			<slot />
		</main>
		<!-- <PreFooter /> -->
		<MainFooter />
		<!-- <MobileNav /> -->
	</body>
</html>
